<form novalidate (submit)="onSubmit($event)">
    <label>
        Titre
        <input [formField]="trackForm.title">
        @if (trackForm.title().touched() && !trackForm.title().valid()){
            <small>
                {{ trackForm.title().errors()[0]?.message }}
            </small>
        }
    </label>

    <label>
        Artiste
        <input [formField]="trackForm.artist">
        @if (trackForm.artist().touched() && !trackForm.artist().valid()){
            <small>
                {{ trackForm.artist().errors()[0]?.message }}
            </small>
        }
    </label>
    
    <label>
        Note (0 -10)
        <input type="number" [formField]="trackForm.rating">
    </label>

    <button type="submit" [disabled]="!trackForm().valid()">Enregistrer</button>
</form>